body {
    background-color: #ffffff;
}

.wrapper {
    width: 300px;
    text-align: center;
}

.changeColorBtn {
    width: 100px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #ff978b;
    cursor: pointer;
}

.colorGrid {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.selectedColor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.colorValue {
    margin-left: 5px;
    font-weight: bold;
}
